.container{
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

h1{
  font-size: 3rem;
  color: #fff;
}

input{
  padding: 10px;
  border-radius: 20px 0 0 20px;
  border: none;
  max-width: 300px;
  width: 60%;
  outline: none;
}

button{
  padding: 10px;
  border-radius: 0 20px 20px 0;
  border: none;
  background: #f72585;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

button:hover{
  background: #7209b7;
}