.weather-container {
    background-color: #475569;
    border-radius: 20px;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

.weather-list{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.weather-item{
    background-color: #111827;
    border-radius: 15px;
    padding: 10px;
}